/* CSS RESET */
*{
    padding: 0;
    margin: 0;
}

/* CSS FONTS */
:root {
    --main-heading:'Press Start 2P'; 
    --sub-heading: 'Changa';
  }

/* FLEX LAYOUTS */
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}
.centered-items{
    align-items:center;
}
/* MAIN CONTAINERS */
body{
    margin: 20px;
    font-family: var(--sub-heading);
    background-image: url(https://images.pexels.com/photos/988526/pexels-photo-988526.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20%;
}
.mid-section{
    margin: 0 auto;
}

.gameInfo{
    position: relative;
}

.shipTable{
    width: 95%;
    margin: 5px auto;
    border: 1px dotted black;
    padding: 5px;
    border-radius: 5px;
    background: rgba(134, 35, 35, 0.699);
    color: wheat;
}

.boards{
    height: 40vh;
    padding-top: 50px;
}
.right-section{
    animation-name: seawave-left;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.left-section{
    animation-name: seawave-right;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.ship-container{
    padding: 40px;
    border-radius: 30%;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.39);
    color: lightgreen;
    text-align: center;
    font-family: var(--sub-heading);
}
.message-section{
    margin-top: 10px;
    color:red;
    text-decoration: blink;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.411);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
  }
  .footer{
      margin-top:150px;
      padding: 60px;
      line-height: 40px;
      background: black;
      color: yellowgreen;
      font-family:var(--main-heading);
  }
/* SUB COMPONENTS */
.submit{
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.inputFields{
    width: 100%;
    margin: 5px 0;
}
.shipsList{
    padding: 10px;
}

.shipsList h3{
    font-family: var(--sub-heading);
}

.shipsList p{
    color: white;
    font-weight: bold;
}
.green{
   background-color: green;
}
td{
    background: cornsilk;
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    cursor: pointer;
    text-align: center;
}
td:active{
    transform: scale(0.9);
}

.computerBoard, .playerBoard{
 background: linear-gradient(rgba(255, 255, 255, 0.616), rgba(67, 79, 133, 0.692));
 font-family: 'Times New Roman', Times, serif;
}

.hit{
    color:yellow;
    font-weight: bold;
}
.miss{
    color: red;
    font-weight: bold;
}
.hidden{
    display:none;
}
.block{
    display:block;
}


.start{
    background:skyblue;
    width: 95%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.reset{
    background: red;
    border: none;
    border-radius: 3px;
    padding: 20px;
    width: 100%;
}
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .heading{
      text-align: center;
      color: crimson;
      font-family: var(--main-heading);
      font-size: 80px;
      letter-spacing: 20px;
      font-weight: bold;
      margin-bottom: 30px;
  }
 
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s; 
    padding: 20px;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  @media screen and (max-width: 1000px) {
    .boards{
        flex-direction: column-reverse;
        margin-top: 200px;
    }
    .mid-section{
        margin-top: 50px;
    }
    .heading{
        font-size: 5vw;
        margin-top: 30px;
    }
  }
  /* ANIMATIONS */

@keyframes seawave-left {

    10%{transform: translateY(10px);}
    20% {transform: translateY(-2px);}
    30%{transform: translateY(2px); }
    40% {transform: translateY(-2px);}
    50%{transform: translateY(2px);}
    60% {transform: translateY(-10px);}

     }

@keyframes seawave-right {

    10%{transform: translateY(-15px);}
    20% {transform: translateY(5px);}
    30%{transform: translateY(-5px); }
    40% {transform: translateY(5px);}
    50%{transform: translateY(-2px);}
    60% {transform: translateY(10px);}

}