.green{
   background-color: green;
}
td{
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    cursor: pointer;
    text-align: center;
}
td:active{
    transform: scale(0.9);
}

.boards{
    display: flex;
    justify-content: space-evenly;
}
.hit{
    color:yellow;
    font-weight: bold;
}
.miss{
    color: red;
    font-weight: bold;
}
.hidden{
    display:none;
}
.message-section{
    margin-top: 80px;
    color: red;
}