
body{
    display: flex;
    flex-direction: column;
}
.mid-section{
    border-bottom: 2px solid lightseagreen;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 20vh;
}

.green{
   background-color: green;
}
td{
    background: cornsilk;
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    cursor: pointer;
    text-align: center;
}
td:active{
    transform: scale(0.9);
}

.boards{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-image: url(https://images.pexels.com/photos/988526/pexels-photo-988526.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px 5px yellow;
}
.computerBoard, .playerBoard{
 background: linear-gradient(rgba(255, 255, 255, 0.616), rgba(67, 79, 133, 0.692));
}
.hit{
    color:yellow;
    font-weight: bold;
}
.miss{
    color: red;
    font-weight: bold;
}
.hidden{
    display:none;
}
.block{
    display:block;
}
.message-section{
    margin-top: 80px;
    color: red;
}

.start{
    background: greenyellow;
    border: none;
    border-radius: 3px;
    padding: 20px;
}
.reset{
    background: red;
    border: none;
    border-radius: 3px;
    padding: 20px;
}